<div class="card-container @GetActive()">

    @if (Report is not null)
    {
        <div class="title">
            <span>@Report.Title</span>

        </div>

        <div class="bottom-bar">
            @if (!IsIssue)
            {
                <span class="status @GetStatus()">@Report.Status</span>
            }else {
                <span class=""></span>
            }
            <span class="createdAt">@Report.CreatedAt.ToShortDateString()</span>
        </div>
    }

</div>